/* common styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}
.container{
    max-width: 1280px;
    margin: 0px auto;
}
.nav-item-color{
    color: #8987A1;
}
.special-text-color{
    color: #E95A08;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
.btn{
    background-color: #E95A08;
    color: white;
    width: 270px;
    height: 50px;
    border: none;
    margin-top: 20px;
}
/* custom styles */
/* header section style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 100px;
}
.nav-items{
    display: flex;
    gap: 50px;
}
/* banner section style  */
.banner{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 15px;
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
/* main section styles  */
.card-section{
    margin: 150px auto;
    margin-bottom: 750px;
}
.card-holder{
    width: 270px;
    height: 485px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-left: 50px;
}
.card-holder img{
    margin-bottom: 20px;
}
.card-section-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.card-section-description{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 15px 125px 50px;
}
.card-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card-subtitle{
    font-size: 22px;
    font-weight: bold;
}
/* badge section styles  */
.badge-section{
    margin: 150px auto;
}
 .badge-holder{
    display: flex;
    gap: 70px;
 }
 .badge-img{
    width: 285px;
    height: 285px;
    transform: translateX(-230px) translateY(-630px);
 }
 .badge-title{
    font-size: 50px;
    font-weight: bold;
    margin: 40px 10px 20px 20px;
 }
 .badge-list{
    margin: 10px 10px 10px 50px;
 }
 .badge-list>li{
    font-size: 22px;
    color:  rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
 }
/* responsive for mobile  */
@media screen and (max-width:576px){
    /* header section  */
    .nav-items>span{
        display: none;
    }
    .navbar{
        margin: 15px 15px;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 15px 15px;
    }
    .banner img{
        width: 100%;
    }
    /* card section  */
    .card-section{
        margin-bottom: 1600px ;
    }
    .card-holder{
        grid-template-columns: repeat(2,1fr);
        margin-left: 8px;
        gap: 20px;
    }
    .card-holder img{
        width: 100%;
        
    }
    .card-section-description{
        margin: 15px 20px 50px;
    }
    /* badge section  */
    .badge-holder{
        flex-direction: column;
    }
    .badge-holder img{
        width: 96.5%;
        margin-left: 10px;
        margin-bottom: -30px;
    }
    .badge-img{
        display: none;
    }
    
}